

.LeftPanel div {
  text-align: right;
}
.LeftPanelContainer {
  margin-right: 0;
  margin-left: auto;
}

.LeftPanelContainer .LeftPanel {
  flex-direction: column;
  margin-right: 40px;
  margin-left: auto;
  margin-bottom: 40vh;
}

.LeftPanelContainer .LeftPanel div {
  text-align: right;
  margin: 30px 18px 18px 18px;
  color: white;
  font-weight: 900px;
  letter-spacing: 2px;
}

.LeftPanelContainer .LeftPanel span:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
  font-weight: bold;
}
