.RegisterContainer {
  width: 70vw;
  height: 70vh;
  background: white;
  border-radius: 45px;
  display: flex;
  align-items: center;
  margin-right: 3vw;
  /* padding: 20px 20px 20px 20px; */
  box-shadow: 0 0 10px darkslategrey;
}

.FormContainer {
  padding-left: 4vw;
}

.Title {
  font-size: 35px;
  font-weight: bold;
}

.TextForms {
  margin-top: 30px;
}

.TextForms .TextField {
  margin-top: 30px;
}

.RegisterBox .submit {
  background-color: #ffd500;
  border: 3px solid #ebc400;
  padding: 10px;
  font-size: 15pt;
  border-radius: 20px;
  width: 150px;
  font-weight: bold;
  margin-left: 40%;
  margin-right: 60%;
  box-shadow: 5px 5px 2px grey;
}

.RegisterContainer img {
  height: 50px;
  position: fixed;
  right: 5vw;
  bottom: 19vh;
}
/* .Register .FormBackground {
  margin-top: 0;
  width: 80%;
  height: 100%;
  background: white;
}

.FormBackground .FormContainer {
  padding: 5vw;
}

.FormBackground .TextForms {
  margin-top: 3vh;
}

.TextField {
  margin-bottom: 2vh;
}

.FormBackground .Title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.Register .LeftPanel {
  width: 10vw;
  margin-left: 10vw;
  right: 0;
} */
