.Description {
  margin-right: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Description .desc {
  color: #069bab;
  font-size: 17px;
  font-weight: bold;
}

.Description .value {
  font-size: 30px;
  font-weight: medium;
}
