.Register {
  height: 100vh;
  width: 100vw;
  background: #069bab;
  display: flex;
}

.Register .FormBackground {
  margin-top: 0;
  width: 80%;
  height: 100%;
  background: white;
}

.FormBackground .FormContainer {
  padding: 5vw;
}

.FormBackground .TextForms {
  margin-top: 3vh;
}

.TextField {
  margin-bottom: 2vh;
}

.FormBackground .Title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.Register .LeftPanel {
  width: 10vw;
  margin-left: 10vw;
  right: 0;
}
